@import 
url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
body {
    background-color: wheat;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    bottom: 1em;
    position: static;
}

/*a tag*/
a {
    text-decoration: none;
}
/*all*/
#all {
    text-align: center;
    font-size: 1em;
}

#aboutMe {
    font-family: "Roboto Serif", serif;
    color: #602D00;
}

#paragraf {
    text-align: justify;
    color: #A52A2A;
}
#paragrafTelp{
    color: #5A3E2B;
    text-align: justify;
}
#telp {
    color: rgb(190, 163, 113);
}

#paragrafEmail{
    color: #5A3E2B;
    text-align: justify;
}
#email {
    text-decoration: underline;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: black;
    color: rgb(190, 163, 113);
}

/*button*/
#backButton {
    background-color: rgb(155, 87, 34);
    border: none;
    box-shadow: 2px 2px 2px rgb(185, 166, 129);
    border-radius: 3px;
    width: 100px;
    height: 40px;
}
#backbutton:hover {
    box-shadow: none;
    transition: all 2s ease-in-out;
    transform: scale(1.0);
    transform: scale(1.1);
}
#backbutton:active {
    transform: scale(1.1);
    transform: scale(0.9);
    transform: scale(1.0);
}
#backText {
    color: white;
    font-size: 20px;
    font-weight: 800;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
}

img {
    background-color: white;
    width: 10em;
    height: 10em;
}
p {
    font-family: "Roboto Mono", monospace;
}
button {
    font-family: "Montserrat", sans-serif;
}
#namaWeb {
    color: white;
    font-size: 1.1em;
}