body {
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
    margin: 0;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
button {
    background-color: rgb(72, 81, 255);
    text-align: center;
    padding: 10px 20px;

}
.button2 {
    background-color: rgb(72, 81, 255);
    text-align: center;
}
.text {
    color: white;
    font-weight: bold;
}
/*lain*/
strong {
    color: red;
}
a {
    text-decoration: none;
}