/*lain*/
body {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: lightblue;
}

#judul {
    color: #4567b7;
    text-align: center;
    align-items: center;
    position: relative;
    background-color: rgb(145, 187, 201);
    border-radius: 4px;
    border-color: black;
    font-family: "Brawler", serif;
    font-weight: 1000;
}
/*all*/
#allB {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 90%;
}

/*tombol*/

/*tombol level 1*/
#id {
    text-align: center;
    justify-content: center;
}
#satu {
    text-align: center;
    height: 50px;
    width: 100px;
    text-decoration: none;
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    font-weight: 500;
    background-color: rgb(145, 187, 201);
    border-radius: 5px;
    border: solid 2px rgb(42, 94, 112);
    /*--*/
    position: static;
    right: 50%;
}

.button1:hover {
    transition: all 0.3s ease;
    transform: scale(1.0);
    transform: scale(0.9);
    background-color: yellow;
}

.button1:active {
    cursor: pointer;
    transform: scale(0.8);
    transform: scale(1.2);
}
/*akhir tombol level 1*/

/*tombol level 2*/
#dua {
    text-align: center;
    height: 50px;
    width: 100px;
    text-decoration: none;
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    font-weight: 500;
    color: #4567b7;
    background-color: rgb(145, 187, 201);
    border-radius: 5px;
    border: solid 2px rgb(42, 94, 112);
    /*--*/
    position: static;
    right: 50%;
}

.button2:hover {
    transition: all 0.3s ease;
    transform: scale(1.0);
    transform: scale(0.9);
    background-color: yellow;
}

.button2:active {
    cursor: pointer;
    transform: scale(0.8);
    transform: scale(1.2);
}
/*akhir tombol level 2*/

/*tombol level 3*/
#tiga {
    text-align: center;
    height: 50px;
    width: 100px;
    text-decoration: none;
    align-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 100%;
    font-weight: 500;
    color: #4567b7;
    background-color: rgb(145, 187, 201);
    border-radius: 5px;
    border: solid 2px rgb(42, 94, 112);
    /*--*/
    position: static;
    right: 50%;
}

.button3:hover {
    transition: all 0.3s ease;
    transform: scale(1.0);
    transform: scale(0.9);
    background-color: yellow;
}

.button3:active {
    cursor: pointer;
    transform: scale(0.8);
    transform: scale(1.2);
}
/*akhir tombol level 3*/

/*return*/
#return {
    /*posisi&display*/
    position: absolute;
    top: 2px;
    left: 3px;
    /*button*/
    background-color: rgb(145, 187, 201);
    border-radius: 5px;
    border: 3px;
    border: solid 1.5px rgb(42, 94, 112);
}
#return:hover {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    transform: scale(1.0);
    transform: scale(0.9);
}
#return:active {
    transition: all 0.3s ease;
    cursor: pointer;
    transform: scale(0.9);
    transform: scale(1.1);
}
/*other*/
a {
    text-decoration: none;
    color: #4567b7;
    font-size: 90%;
}

button {
    align-items: center;
    justify-content: center;
    border: solid 2px rgb(16, 0, 198);
}